<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<script>
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
    } else {
      document.getElementById("myBtn").style.display = "none";
    }
  }

  $(document).ready(function () {
    $('#myBtn').on('click', function (e) {
      $('html, body').animate({scrollTop: 0}, '50');
    });
  })
  const items = document.querySelectorAll("ul li");
  items.forEach((item) => {
    item.addEventListener("click", () => {
      document.querySelector("li.active").classList.remove("active");
      item.classList.add("active");
    });
  });
</script>
