<body>
<div class="container mt-4" id="table-computer">
  <div [formGroup]="formSearch">
    <div class="row">
      <h2 class="text-center text-white">DANH SÁCH KHÁCH HÀNG</h2>
      <div class=" text-white my-5">
        <!--        row search 1-->
        <div class="row" style="height: 80px">
          <div class="col-4 d-flex outline">
            <div class="col-5">
              <label for="nameCustomer">Tên khách hàng</label>
            </div>
            <div class="col-7">
              <input (keydown.enter)="getAllCustomer()" formControlName="nameCustomer" id="nameCustomer" type="text"
                     class="input-search form-control"
                     placeholder="Nhập tên">

              <div style="font-size: small" class="text-danger"
                   *ngIf="formSearch.controls.nameCustomer.hasError('maxlength') && formSearch.controls.nameCustomer.dirty">
                Bạn nhập quá dài.
              </div>
              <div style="font-size: small" class="text-danger"
                   *ngIf="formSearch.controls.nameCustomer.hasError('pattern') && formSearch.controls.nameCustomer.dirty">
                Bạn nhập tên sai định dạng.
              </div>
              <div style="font-size: small" class="text-danger"
                   *ngIf="formSearch.controls.nameCustomer.hasError('minlength') && formSearch.controls.nameCustomer.dirty">
                Bạn nhập quá ngắn
              </div>
            </div>

          </div>
          <div class="col-4 d-flex">
            <div class="col-4">
              <label for="startDate">Ngày sinh từ</label>
            </div>
            <div class="col-8">
              <input formControlName="starDate" id="startDate" type="date"
                     class="form-control input-search " style="width: 200px">
              <div style="font-size: small" class="text-danger"
                   *ngIf="formSearch.get('starDate').hasError('errorDateAge16') && formSearch.get('starDate').dirty">
                Ngày sinh phải lớn hơn 16 tuổi .
              </div>
              <div style="font-size: small" class="text-danger"
                   *ngIf="formSearch.hasError('errorStartDateMoreEndDate') && formSearch.dirty">Ngày sinh phải nhỏ hơn
                ngày đến.
              </div>
              <div style="font-size: small" class="text-danger"
                   *ngIf="formSearch.get('starDate').hasError('errorDate1975') && formSearch.get('starDate').dirty">Bạn
                nhập tuổi quá lớn.
              </div>

            </div>


          </div>
          <div class="col-4 d-flex">
            <div class="col-2"></div>
            <div class="col-4">
              <label for="status">Trạng thái</label>
            </div>
            <div class="col-6">
              <select (keydown.enter)="getAllCustomer()" id="status" style="min-width: 100px"
                      class="input-search form-control"
                      formControlName="activeStatus">
                <option value="">Tất cả</option>
                <option value="1">Đang hoạt động</option>
                <option value="0">Ngưng hoạt động</option>
              </select>
            </div>
          </div>
        </div>
        <!--        row search 2-->
        <div class="row ">
          <div class="col-4 d-flex">
            <div class="col-5">
              <label for="address">Địa chỉ</label>
            </div>
            <div class="col-7">
              <input (keydown.enter)="getAllCustomer()" formControlName="address" id="address" type="text"
                     class="input-search form-control"
                     placeholder="Nhập địa chỉ">
              <div style="font-size: small" class="text-danger"
                   *ngIf="formSearch.get('address').hasError('pattern') && formSearch.get('address').dirty">Nhập địa chỉ
                sai định dạng.
              </div>
            </div>
            <div style="font-size: small" class="text-danger"
                 *ngIf="formSearch.controls.address.hasError('minlength') && formSearch.controls.address.dirty"> Vui
              lòng nhập.
            </div>
            <div style="font-size: small" class="text-danger"
                 *ngIf="formSearch.controls.address.hasError('maxlength') && formSearch.controls.address.dirty"> Bạn
              nhập quá dài
            </div>
          </div>
          <div class="col-4 d-flex">
            <div class="col-4">
              <label for="endDate">Đến</label>
            </div>
            <div class="col-8">
              <input #endDate style="width: 200px" formControlName="endDate" id="endDate"
                     type="date"
                     class="input-search form-control">
              <div style="font-size: small" class="text-danger"
                   *ngIf="formSearch.get('endDate').hasError('errorEndDate') && formSearch.get('endDate').dirty
                   ">Ngày  không dược lớn hơn hiện tại
              </div>
              <div style="font-size: small" class="text-danger"
                   *ngIf="formSearch.hasError('errorStartDateMoreEndDate') && formSearch.dirty">Ngày đến phải lớn hơn
                ngày sinh.
              </div>
            </div>
          </div>
          <div class="col-4 d-flex">
            <div class="col-6"></div>
            <div class="col-6">
              <button [disabled]="formSearch.invalid" class="btn btn-outline-secondary w-20 classDisabled"
                      (click)="getAllCustomer()">
                Tìm kiếm
              </button>
              <button style="margin-left: 15px" (click)="reload() "
                      class="btn btn-outline-secondary w-20 classDisabled ">
                <i class="fa-solid fa-arrows-rotate"></i>

              </button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!--  table-->
  <div style=" height: 370px">
    <table class="table table-dark w-100" *ngIf="listCustomer.length!==0">
      <thead>
      <tr>

        <th class="w-5">
          <div>
            <input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)">
          </div>
        </th>
        <th>#</th>
        <th class="th-w15" scope="col">Họ và tên</th>
        <th class="th-w15" scope="col">Email</th>
        <th class="th-w10" scope="col">Ngày sinh</th>
        <th class="th-w20" scope="col">Địa chỉ</th>
        <th class="th-w10" scope="col">SĐT</th>
        <th class="th-w10" scope="col">Trạng thái</th>
        <th scope="col">Chức năng</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let temp of listCustomer | paginate: {itemsPerPage: 5, currentPage: page+1, totalItems: element};let i = index">
        <!--          <td><input type="checkbox" [checked]="statusCheckBox" (change)="getIdCheck(temp,$event.target.checked)"></td>-->
        <td><input class="card-notify-year-checkbox" type="checkbox" value="{{temp.id}}"
                   [(ngModel)]="listCustomer[i].checked "></td>
        <td class="w-5">{{i + size + 1 }}</td>
        <td class="w-10">{{temp.name}}</td>
        <td class="w-10 hiddenText" data-bs-toggle="tooltip" data-bs-placement="top"
            title="{{temp.email}}">{{temp.email}}</td>
        <td class="w-10">{{temp.dateOfBirth |date:'dd/MM/yyyy' }}</td>
        <td class="hiddenText" data-bs-toggle="tooltip" data-bs-placement="top"
            title="{{temp.nameCommune}} - {{temp.nameDistrict}} - {{temp.nameProvince}}">{{temp.nameCommune}}
          - {{temp.nameDistrict}} - {{temp.nameProvince}} </td>
        <td class="w-10">{{temp.phoneNumber}}</td>
        <!--        <td class="w-10">{{temp.activeStatus == 1 ? 'Đang hoạt động' : 'Ngưng hoạt động'}}</td>-->
        <td *ngIf="temp.activeStatus==1"><i style="margin-left: 25px; color: rgb(47,236,14);font-size: 10px"
                                            class="fa-solid fa-circle"></i></td>
        <td *ngIf="temp.activeStatus==0"><i style="margin-left: 25px; color: rgba(24,23,23,0.07)"
                                            class="fa-solid fa-circle"></i></td>
        <td class="w-5">
          <button class="btn btn-outline-secondary" routerLink="/customers/edit/{{temp.id}}">
            <i class="fa-solid fa-pencil"></i>
          </button>
          <button [disabled]="map.size!==0" class="btn btn-outline-secondary " style="margin-left: 10px"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal" (click)="getIdDeleteInTable(temp)"><i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="9" class="container mt-2 justify-content-center" *ngIf="listCustomer.length == 0">
        </td>
      </tr>
      <tr>
      </tr>

      </tbody>

    </table>
    <div *ngIf="listCustomer.length==0" style="position: absolute ; top: 300px ; right: 40%">
      <img src="https://i.giphy.com/media/HTSsuRrErs54g1Tqr5/giphy.webp"
           style="width: 350px; height: 350px">
      <h2 style="text-align: center ; color: white;margin-left: 50px">Không có khách hàng</h2>
    </div>

  </div>
  <div>
    <!--    button create and delete all-->
    <div class="row " id="btn-outside">
      <div class="col-4" >
<div *ngIf="map.size!==0">
  <button style="margin-right: 11px" class="btn btn-primary " data-bs-toggle="modal"
          data-bs-target="#deleteModal">Xóa
  </button>
</div>

      </div>
      <div class="col-4" ></div>
      <div class="col-4" style="text-align: right">
        <div >
          <button routerLink="/customers/create" class="btn btn-primary">Thêm mới khách hàng</button>

        </div>
      </div>

    </div>
    <div style="justify-content: space-around;display: flex;" *ngIf="element!==0">
      <pagination-controls class="buttonPagination" style="color: black"
                           (pageChange)=getPage($event)
                           previousLabel="Trước"
                           nextLabel="Sau"
                           maxSize=7></pagination-controls>

    </div>

  </div>
</div>




<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content object">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">Thông báo</h5>
      </div>
      <div class="modal-body text-white" *ngIf="map.size==0">
        <h6>Bạn có muốn xóa khách hàng</h6>
        <table style="width: 100%">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>{{idCustomerDelete.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-body text-white" *ngIf="map.size!==0">
        <h6>Bạn có muốn xóa khách hàng</h6>
        <table style="width: 100%">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of map | keyvalue ; let i = index">
            <td>{{i + 1}}</td>
            <td>{{customer.value.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">

        <button (click)="close()" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Đóng</button>
        <button *ngIf="map.size ==0" type="button" class="btn btn-primary" data-bs-dismiss="modal"
                (click)="deleteCustomer()">Xóa
        </button>
        <button *ngIf="map.size!==0" type="button" class="btn btn-primary" data-bs-dismiss="modal"
                (click)="DeleteById()">
          Xóa
        </button>
      </div>
    </div>
  </div>
</div>

</body>

