* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #727272;
}

.bg {
  background-color:  #121212;
}

form {
  background-color: #202020;
}

.input:focus {
  color: #ccc;
  background-color: rgba(0,0,0,0);
}

.input {
  background-color: #2a2a2a;
  color: #ffffff;
}

/*.input::placeholder {*/
/*  font-size: .9em;*/
/*  font-weight: 500;*/
/*}*/

/*.clear {*/
/*  background-color: rgba(0,0,0,0);*/
/*}*/

/*file:hover {*/
/*  background-color: rgba(0,0,0,0);*/
/*}*/

/*textarea:focus {*/
/*  background-color: rgba(0,0,0,0) !important;*/
/*}*/

/*.logo {*/
/*  width: 4.5em;*/
/*}*/

/*body {*/
/*  font-family: 'Arimo', sans-serif;*/
/*  font-family: 'Playfair Display', serif;*/
/*  font-family: 'Roboto', sans-serif;*/
/*}*/

/*option {*/
/*  font-size: .9em;*/
/*  font-weight: 500;*/
/*}*/

/*input::placeholder {*/
/*  color: #ffff;*/
/*}*/

/*select {*/
/*  background-color: #2a2a2a !important;*/
/*  color: #ffffff !important;*/
/*}*/
/*.form-control {*/
/*  border-color: #9a9a9a;*/
/*}*/

/*.form-control:focus {*/
/*  border-color: #cccc;*/
/*}*/

/*// Small devices (landscape phones, 576px and up) sm*/
@media (min-width: 576px) and (max-width: 767.98px) { }

/*// Medium devices (tablets, 768px and up) md*/
@media (min-width: 768px) and (max-width: 991.98px) { }

/*// Large devices (desktops, 992px and up) lg*/
@media (min-width: 992px) and (max-width: 1199.98px) { }

/*// Extra large devices (large desktops, 1200px and up) xl*/
@media (min-width: 1200px) { }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arimo', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Arimo', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;

}

.login-form {
  width: 950px;
  background-color: #202020;
  padding: 30px 60px;
}

.logo {
  height: 50px;
  text-align: center;
}

.logo img {
  height: 50px;
}

.social-media {
  display: flex;
  margin: 30px 0;
}

.social-media button {
  height: 3.5em;
  width: 100px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: .3s linear;
}

.social-media button:last-child {
  margin: 0;
}

.social-media button img {
  width: 20px;
}

.fb {
  background: #42672b;
}

.google {
  background: #fff;
}

.ps {
  background: #02b3e8;
}

.xbox {
  background: #107c10;
}

.switch {
  background: #e60012;
}

.social-media button:hover {
  opacity: .7;
}

.login-form h6 {
  color: #f1f1f1;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.textbox {
  width: 100%;
  height: 3.5em;
  position: relative;
  margin-top: 15px;
}

.textbox input {
  width: 100%;
  height: 3.5em;
  background: #2b2b2b;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
  color: #f4f4f4;
  border: white;
  border-radius: 5px;
}


.textbox input:focus {
  background: #484848 !important;
}

.check-message {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #fff;
  text-transform: uppercase;
}

.textbox input:focus + .check-message {
  display: none;
}

.options {
  margin-top: 15px;
  color: #f4f4f480;
  overflow: hidden;
  font-size: 14px;
}

.remember-me {
  float: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #484848;
  margin-right: 15px;
  position: relative;
  border-radius: 2px;
}

.checkbox input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.checked {
  position: absolute;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  display: none;
}

.checkbox input:checked + .checked {
  display: block;
}

.options a {
  color: #f4f4f480;
  font-size: 14px;
  float: right;
}

.login-btn {
  width: 100%;
  height: 3.5em;
  margin-top: 30px;
  background: #191919;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transition: .3s linear;
}

.login-btn.active {
  background: #037b33;
  color: #fff;
}

.login-btn.active:hover {
  opacity: .7;
}

.hidden {
  display: none;
}

.privacy-link {
  text-align: center;
  margin-top: 35px;
}

.privacy-link a {
  color: #f1f1f1;
  font-size: 14px;
}

.dont-have-account {
  font-size: 14px;
  text-align: center;
  color: #f4f4f480;
  margin: 20px 0;
}

.dont-have-account a {
  color: #f1f1f1;
}

.name {
  color: #fff;
  font-size: 7px;
  text-align: center;
}

@media screen and (max-width: 470px) {
  body {
    background: #202020;
  }

  .login-form {
    width: 100%;
    padding: 0 15px;
  }
}

.input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(252, 252, 252, 0.6);
  outline: 0 none;
  color: white;
}

.select {
  background-color: #2b2b2b;
  color: white;
  border: none;
  padding-left:1em;

}

.select:focus {
  background-color: #2b2b2b;
  color: white;
  border: none;
}

.space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

.input {
  padding-top: 1.2em !important;
}

.cover {
  position: relative;
}

.form-control:focus {
  border-color: #cccc;
}
.texarea {
  padding-top: 1.4em !important;
  border: none;

}
.texarea:focus {
  background-color: #484848;
}

.select-type {
  background-color: #2a2a2a;
  border: none;
  padding-left: 1em;
  height: 3.5em;
}

.select-type:hover{
  background-color: #484848;
  outline-color: #02b3e8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(252, 252, 252, 0.6);
}

.select-type:focus{
  background-color: #484848;
  outline-color: #02b3e8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(252, 252, 252, 0.6);
}

.button {
  background: #2a2a2a;
  border: none;
  height: 3.5em !important;
}

.button:hover {
  background-color: #484848;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(252, 252, 252, 0.6);
  transition: .3s;
}

.button-primary {
  background: #005abd;
  border: none;
  height: 3.5em;
}

.button-primary:hover {
  background: #0078f2;
  box-shadow: 0 1px 1px rgb(0, 120, 242) inset, 0 0 8px rgb(0, 120, 242);
  transition: .3s;
  transform: none;
}

.input-img {
  display: inline-block;
  background-color: #2a2a2a;
  color: white;
  cursor: pointer;
  padding-left: 1em;
  height: 3.5em;
  line-height: 3.5em;
}

.input-img:hover {
  background-color: #484848;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(252, 252, 252, 0.6);
  transition: .3s;
}

.preview-img {
  width: 100%;
}

.img-box {
  height: 18em ;
  overflow: hidden;
}

.img-fit {
  object-fit: cover;
  height: 100% ;
  width:  100%;
}

.spinner {
  left: 0;
  right: 0;
  margin-left: 20em;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
