<body>
<div class="login-form">
  <h6 class="text-center mt-4">Thêm mới máy tính</h6>
  <form [formGroup]="formComputer" (ngSubmit)="submitCreate()">
    <div class="form-floating textbox mb-4">
      <input type="text" class="form-control input" id="ma" placeholder="Mã máy" formControlName="code"
             style="padding-top: 10px">
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('code').touched
                && formComputer.hasError('required', 'code')">Mã máy không được để trống</p>
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('code').touched
                && formComputer.hasError('pattern', 'code')">Mã máy phải có định dạng CPXXXX</p>
      <label for="vi-tri" style="color: white">
        Mã máy
        <span class="text-danger">*</span>
      </label>
    </div>

    <div class="form-floating textbox mb-4">
      <select class="form-select select input" aria-haspopup="true"
              id="status" formControlName="status" style="padding: 10px 15px 0 15px">
        <option value="" class="option" style="height: 10px" disabled="">Chọn tình trạng</option>
        <option value="0">Bảo trì</option>
        <option value="1">Bình thường</option>
      </select>
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('status').touched
                && formComputer.hasError('required', 'status')">Tình trạng máy không được để trống</p>
      <label for="status" style="color: white">
        Trạng thái sử dụng
        <span class="text-danger">*</span>
      </label>
    </div>

    <div class="form-floating textbox mb-4">
      <input type="text" class="form-control input" id="vi-tri" placeholder="Vị trí máy" formControlName="location"
             style="padding-top: 10px">
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('location').touched
                && formComputer.hasError('required', 'location')">Vị trí máy không được để trống</p>
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('location').touched
                && formComputer.hasError('pattern', 'location')">Vị trí máy phải có định dạng AXXX (X là số)</p>

      <label for="vi-tri" style="color: white">
        Vị trí máy
        <span class="text-danger">*</span>
      </label>
    </div>

    <div class="form-floating textbox mb-4">
      <input type="date" class="form-control input" id="start"
             placeholder="ngày hoạt động"
             required formControlName="startUsedDate" style="padding-top: 10px">
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('startUsedDate').touched
                && formComputer.hasError('required', 'startUsedDate')">Ngày không được để trống</p>
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('startUsedDate').dirty
                && formComputer.hasError('dateerror')">Ngày đưa vào hoạt dộng phải bé hơn ngày hiện tại</p>

      <label for="start" style="color: white">
        Ngày đưa vào hoạt động
        <span class="text-danger">*</span>
      </label>
    </div>

    <div class="form-floating textbox mb-3">
      <input type="text" class="form-control input" id="setting" placeholder="cấu hình" formControlName="configuration"
             style="padding-top: 10px">
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('configuration').touched
                && formComputer.hasError('required', 'configuration')">Vị trí máy không được để trống</p>
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('configuration').touched
                && formComputer.hasError('minLength', 'configuration')">Cấu hình tối thiếu 2 ký tự</p>
      <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('configuration').touched
                && formComputer.hasError('maxLength', 'configuration')">Cấu hình tối đa 20 ký tự</p>
      <label for="setting" style="color: white">
        Cấu hình
        <span class="text-danger">*</span>
      </label>
    </div>


    <div class="space-between form-floating textbox mb-4">
      <div style="width: 32%; float: left">
        <div class="form-floating textbox" formGroupName="computerType">
          <select class="form-select select input" aria-haspopup="true"
                  id="city" formControlName="id" style="padding: 10px 15px 0 15px">
            <option value="" class="option" style="height: 50px" disabled="">Chọn loại máy</option>
            <option *ngFor="let type of computerType" [value]="type.id">{{type.name}}</option>
          </select>
          <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('computerType').get('id').touched
                && formComputer.get('computerType').hasError('required', 'id')">Loại máy không được để trống</p>
          <label for="city" style="color: white">
            Loại máy
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>

      <div style="width: 32%; float: left">
        <div class="form-floating textbox">
          <select class="form-select select input" aria-haspopup="true"
                  id="district" formControlName="manufacturer" style="padding: 10px 15px 0 15px">
            <option value="" class="option" style="height: 50px" disabled="">Chọn hãng máy</option>
            <option value="Dell">Dell</option>
            <option value="Asus">Asus</option>
            <option value="MSI">MSI</option>
            <option value="Acer">Acer</option>
            <option value="Sam Sung">Sam Sung</option>
            <option value="Apple IMac">Apple IMac</option>
            <option value="HP">HP</option>
            <option value="Lenovo">Lenovo</option>
          </select>
          <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('manufacturer').touched
                && formComputer.hasError('required', 'manufacturer')">Vị trí máy không được để trống</p>
          <label for="district" style="color: white">
            Hãng
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div style="width: 32%; float: left">
        <div class="form-floating textbox">
          <select class="form-select select input" aria-haspopup="true"
                  id="ward" formControlName="warranty" style="padding: 10px 15px 0 15px">
            <option value="" class="option" style="height: 50px" disabled>Thời gian bảo hành</option>
            <option value="1" class="option">2 năm</option>
            <option value="2" class="option">3 năm</option>
            <option value="3" class="option">4 năm</option>
          </select>
          <p style="color: red; font-size: 0.8rem" *ngIf="formComputer.get('warranty').touched
                && formComputer.hasError('required', 'warranty')">Vị trí máy không được để trống</p>
          <label for="ward" style="color: white">
            Bảo hành
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>
    <div>
      <div class="row mb-5 mt-4 ms-5 justify-content-center">
        <button type="button" class="btn btn-outline-light w-25" (click)="cancel()">Hủy bỏ</button>
        <button type="submit" class="btn btn-primary w-25 ms-3">Thêm mới</button>
      </div>
    </div>
  </form>
</div>
</body>
