
<body>
<div class="login-form">

  <!--    <div class="logo"><img src="../images/logo.png"></div>-->

  <h6 class="text-center mt-4">Đăng ký nhân viên</h6>
  <form>
    <div class="row">
      <div class="col-12">
        <div class="form-floating textbox mb-2">
          <input type="text" class="form-control input" id="Code-Employee" placeholder="Mã nhân viên" style="padding-top: 10px">
          <label for="Code-Employee" style="color: white">
            Mã nhân viên
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-floating textbox mb-2 ">
          <input type="text" class="form-control input" id="full-name" placeholder="Họ và tên" style="padding-top: 10px">
          <label for="full-name" style="color: white">
            Họ và tên
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6" style="padding-right: 15px">
        <div class="form-floating textbox ">
          <select class="form-select select input" aria-haspopup="true"
                  id="position" style="padding: 10px 15px 0 15px; height: 60px">
            <option value="" class="option" style="height: 50px">Chọn vị trí</option>
            <option value="1" class="option">Thu ngân</option>
            <option value="2" class="option">Phục vụ</option>
            <option value="3" class="option">Lao công</option>
          </select>
          <label for="city" style="color: white">
            Chức vụ
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-6" style="padding-right: 15px">
        <div class="form-floating textbox">
          <input type="text" class="form-control input" id="email" placeholder="Email" style="padding-top: 10px">
          <label for="email" style="color: white">
            Email
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6" style="padding-right: 15px">
        <div class="form-floating textbox mb-4">
          <input type="date" class="form-control input" id="date-of-birth"
                 placeholder="ngày sinh"
                 required>
          <label for="date-of-birth" style="color: white">
            Ngày tháng năm sinh
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-6" style="padding-right: 15px">
        <div class="form-floating textbox mb-3">
          <input type="date" class="form-control input" id="start-work-date"
                 placeholder="Ngày làm việc"
                 required>
          <label for="start-work-date" style="color: white">
            Ngày bắt đầu làm
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>

    <div class="space-between form-floating textbox mb-4 ">
      <div style="width: 32%; float: left">
        <div class="form-floating textbox ">
          <select class="form-select select input" aria-haspopup="true"
                  id="city" style="padding: 10px 15px 0 15px; height: 60px">
            <option value="" class="option" style="height: 50px">Chọn thành phố</option>
            <option value="1" class="option">One</option>
            <option value="2" class="option">Two</option>
            <option value="3" class="option">Three</option>
          </select>
          <label for="city" style="color: white">
            Thành phố
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div style="width: 32%; float: left">
        <div class="form-floating textbox">
          <select class="form-select select input" aria-haspopup="true"
                  id="district" style="padding: 10px 15px 0 15px; height: 60px">
            <option value="" class="option" style="height: 50px">Chọn quận</option>
            <option value="1" class="option">One</option>
            <option value="2" class="option">Two</option>
            <option value="3" class="option">Three</option>
          </select>
          <label for="district" style="color: white">
            Quận
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div style="width: 32%; float: left">
        <div class="form-floating textbox">
          <select class="form-select select input" aria-haspopup="true" id="ward" style="padding: 10px 15px 0 15px; height: 60px" >
            <option value="" class="option" style="height: 50px">Chọn phường</option>
            <option value="1" class="option">One</option>
            <option value="2" class="option">Two</option>
            <option value="3" class="option">Three</option>
          </select>
          <label for="ward" style="color: white">
            Phường
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6" style="padding-right: 15px">
        <div class="form-floating textbox mb-4">
          <input type="text" class="form-control input" id="phone" placeholder="số điện thoại" style="padding-top: 10px">
          <label for="phone" style="color: white">
            Số điện thoại
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-6" style="padding-right: 15px">
        <div class="form-floating textbox mb-3">
          <input type="text" class="form-control input" id="salary" placeholder="Lương" style="padding-top: 10px">
          <label for="salary" style="color: white">
            Tiền lương
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6" style="padding-right: 15px">
        <div class="space-between form-floating textbox">
          <div class="form-floating textbox">
            <input type="text" class="form-control input" id="account" placeholder="Tài khoản" style="padding-top: 10px">
            <label for="account" style="color: white">
              Tài khoản
              <span class="text-danger">*</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-6" style="padding-right: 15px">
        <div class="space-between form-floating textbox">
          <div class="form-floating textbox">
            <input type="password" class="form-control input" id="confirmPassword" placeholder="Mật khẩu" style="padding-top: 10px">
            <label for="confirmPassword" style="color: white">
              Xác nhận mật khẩu
              <span class="text-danger">*</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4" >
      <div class="col-12 " style="padding-right: 15px">
        <label for="confirmPassword" style="color: white">
          Ảnh cá nhân:
          <span class="text-danger">*</span>
        </label>
        <div class="mb-3">
          <input id="file" type="file" class="form-control input" style="padding-top: 10px">
        </div>
      </div>
    </div>

    <div class="text-center row" >
      <div class="col-6" style="padding-right: 15px">
        <button type="submit" class="btn btn-outline-secondary login-btn text-light">Đăng ký</button>
      </div>
      <div class="col-6" style="padding-right: 15px">
        <button type="submit" class="btn btn-outline-secondary login-btn text-light">Hủy bỏ</button>
      </div>
    </div>
  </form>
</div>


