<body>
<div class="login-form">

  <!--    <div class="logo"><img src="../images/logo.png"></div>-->

  <h6 class="text-center mt-4">Đăng ký nhân viên</h6>
  <form [formGroup]="employeeForm">
    <div class="row">
      <div class="col-12">
        <div class="form-floating textbox mb-2">
          <input autocomplete="off" formControlName="code" type="text" class="form-control input" id="Code-Employee"
                 placeholder="Mã nhân viên" style="padding-top: 10px">
          <div *ngIf="employeeForm.controls.code.hasError('required') && employeeForm.controls.code.touched"
               class="form-text text-danger mt-1 px-2">Không được để trống.
          </div>
          <div *ngIf="employeeForm.controls.code.hasError('pattern') && employeeForm.controls.code.touched"
               class="form-text text-danger mt-1 px-2">Mã sai định dạng.
          </div>

          <div *ngIf="employeeForm.controls.code.hasError('pattern') && employeeForm.controls.code.touched"
               class="form-text text-danger mt-1 px-2">Mã sai định dạng.
          </div>

          <label for="Code-Employee" style="color: white">
            Mã nhân viên
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-floating textbox mb-2 ">
          <input autocomplete="off" formControlName="name" type="text" class="form-control input" id="name"
                 placeholder="Họ và tên"
                 style="padding-top: 10px">
          <div *ngIf="employeeForm.controls.name.hasError('required') && employeeForm.controls.name.touched"
               class="form-text text-danger mt-1 px-2">Không được để trống.
          </div>
          <div *ngIf="employeeForm.controls.name.hasError('pattern') && employeeForm.controls.name.touched"
               class="form-text text-danger mt-1 px-2">Tên sai định dạng.
          </div>

          <label for="name" style="color: white">
            Họ và tên
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6" style="padding-right: 15px">
        <div class="form-floating textbox ">
          <select formControlName="position" class="form-select select input" aria-haspopup="true"
                  id="position" style="padding: 10px 15px 0 15px; height: 60px">
            <option value="" class="option" style="height: 50px">Chọn vị trí</option>
            <option [ngValue]="temp" *ngFor="let temp of positionList">{{temp.name}}</option>
          </select>
          <div *ngIf="employeeForm.controls.position.hasError('required') && employeeForm.controls.position.touched"
               class="form-text text-danger mt-1 px-2">Không được để trống.
          </div>
          <label for="city" style="color: white">
            Chức vụ
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>

      <div class="col-6" >
        <div class="form-floating textbox">
          <input autocomplete="off" formControlName="email" type="text" class="form-control input" id="email"
                 placeholder="Email"
                 style="padding-top: 10px">
          <div *ngIf="employeeForm.controls.email.hasError('required') && employeeForm.controls.email.touched"
               class="form-text text-danger mt-1 px-2">Không được để trống.
          </div>
          <div *ngIf="employeeForm.controls.email.hasError('email') && employeeForm.controls.email.touched"
               class="form-text text-danger mt-1 px-2">Sai định dạng email.
          </div>

          <div *ngIf="employeeForm.controls.email.hasError('pattern') && employeeForm.controls.email.touched"
               class="form-text text-danger mt-1 px-2">Không được để khoảng cách.
          </div>



          <label for="email" style="color: white">
            Email
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>

    </div>

    <div class="row mt-3">
      <div class="col-6" style="padding-right: 15px">
        <div class="form-floating textbox mb-4">
          <input style="padding-top: 10px" autocomplete="off" formControlName="dob" type="date" class="form-control input" id="date-of-birth"
                 placeholder="ngày sinh"
                 required>
          <div *ngIf="employeeForm.controls.dob.hasError('required') && employeeForm.controls.dob.touched" class="form-text text-danger mt-1 px-2">Không được để trống.</div>
          <div  *ngIf="employeeForm.controls.dob.hasError('not18')&& employeeForm.controls.dob.dirty" class="form-text text-danger mt-1 px-2">Chưa đủ 18 tuổi.</div>

          <label for="date-of-birth" style="color: white">
            Ngày tháng năm sinh
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-6" >
        <div class="form-floating textbox mb-3">
          <input  style="padding-top: 10px" autocomplete="off" formControlName="startWork" type="date" class="form-control input"
                  id="start-work-date"
                  placeholder="Ngày làm việc"
                  required>
          <div *ngIf="employeeForm.controls.startWork.hasError('required') && employeeForm.controls.startWork.touched"
               class="form-text text-danger mt-1 px-2">Không được để trống.
          </div>
          <div
            *ngIf="employeeForm.hasError('dateerror') && employeeForm.get('startWork').dirty"
            class="form-text text-danger mt-1 px-2">Ngày làm không thể bé hơn ngày hiện tại.
          </div>

          <label for="start-work-date" style="color: white">
            Ngày bắt đầu làm
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="space-between form-floating textbox mb-2 ">
        <div style="width: 32%; float: left; height:100px " >
          <div class="form-floating textbox ">
            <select class="form-select select input" aria-haspopup="true"
                    id="city" style="padding: 10px 15px 0 15px; height: 60px"
                    (change)="getDistrictList($event.target.value)"
                    formControlName="province">
              <option value="">Chọn thành phố</option>
              <option value="{{province.id}}"
                      *ngFor="let province of provinceList"
                      class="option" style="height: 50px">{{province.name}}</option>
            </select>
            <div *ngIf="employeeForm.controls.province.hasError('required') && employeeForm.controls.province.touched"
                 class="form-text text-danger mt-1 px-2">Không được để trống.</div>

            <label for="city" style="color: white">
              Thành phố
              <span class="text-danger">*</span>
            </label>
          </div>

        </div>
        <div style="width: 32%; float: left ;height:100px ">
          <div class="form-floating textbox">
            <select class="form-select select input" aria-haspopup="true"
                    id="district" style="padding: 10px 15px 0 15px; height: 60px"
                    (change)="getCommuneList($event.target.value)"
                    formControlName="district">
              <option value="">Chọn quận</option>
              <option value="{{district.id}}"
                      *ngFor="let district of districtList"
                      class="option" style="height: 50px">{{district.name}}</option>

            </select>
            <div *ngIf="employeeForm.controls.district.hasError('required') && employeeForm.controls.district.touched"
                 class="form-text text-danger mt-1 px-2">Không được để trống.</div>

            <label for="district" style="color: white">
              Quận
              <span class="text-danger">*</span>
            </label>
          </div>
        </div>

        <div style="width: 32%; float: left; height:100px ">
          <div class="form-floating textbox">
            <select class="form-select select input" aria-haspopup="true"
                    id="commune" style="padding: 10px 15px 0 15px; height: 60px" formControlName="commune">
              <option value="">Chọn phường</option>
              <option [ngValue]="commune"
                      *ngFor="let commune of communeList"
                      class="option" style="height: 50px">{{commune.name}}</option>
            </select>
            <div *ngIf="employeeForm.controls.commune.hasError('required') && employeeForm.controls.commune.touched"
                 class="form-text text-danger mt-1 px-2">Không được để trống.
            </div>

            <label for="commune" style="color: white">
              Phường
              <span class="text-danger">*</span>
            </label>
          </div>
        </div>
      </div>

    </div>

    <div class="row ">
      <div class="col-6" style="padding-right: 15px">
        <div class="form-floating textbox mb-4">
          <input autocomplete="off" formControlName="phone" type="text" class="form-control input" id="phone"
                 placeholder="số điện thoại"
                 style="padding-top: 10px">
          <div *ngIf="employeeForm.controls.phone.hasError('required') && employeeForm.controls.phone.touched"
               class="form-text text-danger mt-1 px-2">Không được để trống.</div>
          <div *ngIf="employeeForm.controls.phone.hasError('pattern') && employeeForm.controls.phone.touched"
               class="form-text text-danger mt-1 px-2">Nhập sai định dạng.</div>
          <label for="phone" style="color: white">
            Số điện thoại
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
      <div class="col-6" >
        <div class="form-floating textbox mb-3">
          <input autocomplete="off" formControlName="salary" type="text" class="form-control input" id="salary"
                 placeholder="VNĐ"
                 style="padding-top: 10px" >
          <div *ngIf="employeeForm.controls.salary.hasError('required') && employeeForm.controls.salary.touched"
               class="form-text text-danger mt-1 px-2">Không được để trống.</div>

          <div *ngIf="employeeForm.controls.salary.hasError('pattern') && employeeForm.controls.salary.touched"
               class="form-text text-danger mt-1 px-2">Không được để khoảng cách.
          </div>
          <div *ngIf="employeeForm.controls.salary.hasError('min') && employeeForm.controls.salary.touched"
               class="form-text text-danger mt-1 px-2">Lương không được nhỏ hơn quá.
          </div>
          <div *ngIf="employeeForm.controls.salary.hasError('max') && employeeForm.controls.salary.touched"
               class="form-text text-danger mt-1 px-2">Lương không được lớn quá.
          </div>
          <label for="salary" style="color: white">
            Tiền lương (*vnđ)
            <span class="text-danger">*</span>
          </label>
        </div>
      </div>
    </div>


    <div class="row" formGroupName="appUser">
      <div class="col-6" style="padding-right: 15px">
        <div class="space-between form-floating textbox" style="margin:0px">
          <div class="form-floating textbox">
            <input autocomplete="off" formControlName="username" type="text" class="form-control input" id="appUser"
                   placeholder="Tài khoản"
                   style="padding-top: 10px">
            <div *ngIf="employeeForm.get('appUser').hasError('required','username') && employeeForm.get('appUser').get('username').touched"class="form-text text-danger mt-1 px-2">Không được để trống.</div>

            <div *ngIf="employeeForm.get('appUser').hasError('pattern','username') && employeeForm.get('appUser').get('username').touched" class="form-text text-danger mt-1 px-2">Không được để khoảng cách.</div>

            <!--            <div *ngIf="employeeForm.controls.username.hasError('required') && employeeForm.controls.username.touched"class="form-text text-danger mt-1 px-2"></div>-->

            <label for="appUser" style="color: white">
              Tài khoản
              <span class="text-danger">*</span>
            </label>
          </div>
        </div>
      </div>


      <div class="col-6">
        <div class="space-between form-floating textbox" style="margin:0px">
          <div class="form-floating textbox">
            <input autocomplete="off" formControlName="password" type="password" class="form-control input"
                   id="password"
                   placeholder="Mật khẩu" style="padding-top: 10px">
            <div *ngIf="employeeForm.get('appUser').hasError('required','password') && employeeForm.get('appUser').get('password').touched" class="form-text text-danger mt-1 px-2">Không được để trống.</div>
            <div *ngIf="employeeForm.get('appUser').hasError('pattern','password') && employeeForm.get('appUser').get('password').touched" class="form-text text-danger mt-1 px-2">Nhập sai định dạng.</div>

            <label for="password" style="color: white">
              Mật khẩu
              <span class="text-danger">*</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 ">
        <label style="color: white">Ảnh cá nhân:<span class="text-danger">*</span></label>
        <div class="mb-3">
          <input id="file" type="file" class="form-control input"
                 (change)="selectFile($event)" (change)="onFileSelected($event)" accept="image/*">
        </div>
      </div>
    </div>
    <div *ngIf="url != null" class="row mt-4">
      <div class="col-lg-5 px-3 mx-auto">
        <div class="m-0">
          <div><img class="preview-img rounded" [src]="url" *ngIf="url" alt=""></div>
        </div>
      </div>
    </div>

    <div class="text-center row">
      <div class="col-6" style="padding-right: 15px">
        <button type="submit" class="btn btn-outline-secondary login-btn text-light" (click)="createEmployee()">Đăng ký</button>
      </div>
      <div class="col-6" style="padding-right: 15px">
        <button type="submit" class="btn btn-outline-secondary login-btn text-light" (click)="cancel()">Hủy bỏ</button>
       
      </div>
    </div>

  </form>
</div>

</body>




