<div class="container-fluid p-0 bg">
  <div class="container mt-2">
    <header>
      <div class="row d-flex justify-content-between">
        <div class="p-0 col-6">
          <input [(ngModel)]="searchTitle" (change)="getAllNews()" class="search form-control-sm me-2" type="search" placeholder="tìm kiếm" aria-label="Search" >
        </div>
        <div class="p-0 col-6 d-flex justify-content-end">
          <button type="button" routerLink="/create-news" class="btn btn-outline-secondary rounded-pill">thêm mới tin</button>
        </div>
      </div>
    </header>
    <div class="row mt-3">
      <h6 class="text-light">Bản tin</h6>
    </div>
    <div class="row">
      <div *ngFor="let item of topNews, let i = index"  class="col-md-6 col-sm-12">
        <div (click)="updateViews(item.id)" routerLink="/detail-news/{{item.id}}" *ngIf="i < 2" class="card w-100 " style="width: 18rem;">
          <div class="box-img-new rounded">
            <img src="{{item.imageUrl}}" class="card-img-top img-fit">
          </div>
          <div class="card-body px-0">
            <small><p class="card-text text-secondary">{{item.createDate}}</p></small>
            <small><p class="card-text text-light mt-2">{{item.title}}</p></small>
            <a class="read-more">Đọc thêm</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let item of listNews | paginate :
          {itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems }"
         class="row mx-1 news mt-2">
      <div (click)="updateViews(item.id)" routerLink="/detail-news/{{item.id}}" class="row">
        <div class="p-0">
          <hr>
        </div>
        <div class="col-md-2 col-sm-6 p-0 mt-2 img-sub">
          <div class="box-img-sub rounded img-fixed">
            <img src="{{item.imageUrl}}" class="card-img-top img-fit">
          </div>
        </div>
        <div class="col-5">
          <div>
            <small><p class="card-text text-secondary">{{item.createDate}}</p></small>
            <small><p class="card-text text-light">{{item.title}}</p></small>
          </div>
          <a class="read-more">Đọc thêm</a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-center">
        <pagination-controls class="text-light" (pageChange)="getPage(page = $event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
