<div *ngIf="checkmodal" class="w-100 spinner-modal h-100 position-fixed">
  <div class="load mx-auto spinner-border text-light spinner position-absolute" role="status"></div>
</div>
<div class="container-fluid d-flex justify-content-center p-0 bg">
  <div class="container m-0 w-100">
      <form #localForm="ngForm" (ngSubmit)="create()" [formGroup]="formNews" class="rounded col-lg-10 mx-auto px-4 pb-4">
          <div class=" mt-3">
            <h5 class="text-center text-light font-weight-bold pt-4">THÊM TIN TỨC</h5>
          </div>
          <div class="row ">
            <div class="col-lg-6 px-3 mt-2">
              <div class="form-floating textbox">
                <input formControlName="title" type="text" class="form-control input input-text" id="title" placeholder="tên game" (keydown.enter)="create()">
                <label for="title" class="text-light">Tiêu đề:<span class="text-danger"> *</span></label>
              </div>
<!--              <div class="form-text text-danger mt-1 px-2 invalid-feedback">Nhập tiêu đề.</div>-->
              <div *ngIf="formNews.controls.title.hasError('required') && formNews.controls.title.touched" class="form-text text-danger mt-1 px-2">Nhập tiêu đề.</div>
              <div *ngIf="formNews.controls.title.hasError('minlength') && formNews.controls.title.dirty" class="form-text text-danger mt-1 px-2">Tiêu đề quá ngắn.</div>
              <div *ngIf="formNews.controls.title.hasError('maxlength') && formNews.controls.title.dirty" class="form-text text-danger mt-1 px-2">Tiêu đề quá dài.</div>

            </div>
            <div class="col-lg-6 px-3 mt-2">
              <div class="form-floating textbox ">
                <input formControlName="author" type="text" class="form-control input" id="author" placeholder="tên game" (keydown.enter)="create()">
                <label for="author" class="text-light">Tác giả:<span class="text-danger"> *</span></label>
              </div>
              <div *ngIf="formNews.controls.author.hasError('required') && formNews.controls.author.touched" class="form-text text-danger mt-1 px-2">Nhập tên tác giả.</div>
              <div *ngIf="formNews.controls.author.hasError('pattern') && formNews.controls.author.dirty" class="form-text text-danger mt-1 px-2">Tên sai định dạng.</div>
              <div *ngIf="formNews.controls.author.hasError('minlength') && formNews.controls.author.dirty && formNews.controls.author.hasError('pattern')==false" class="form-text text-danger mt-1 px-2">Tên quá ngắn.</div>
              <div *ngIf="formNews.controls.author.hasError('maxlength') && formNews.controls.author.dirty && formNews.controls.author.hasError('pattern')==false" class="form-text text-danger mt-1 px-2">Tên quá dài.</div>
            </div>
          </div>
        <div *ngIf="url != null" class="row mt-4">
          <div class="col-lg-6 px-3 img-box mx-auto">
              <img class="preview-img rounded img-fit" [src]="url" *ngIf="url" alt="">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 px-3">
              <div class=" m-0">
              <input (click)="setRequiredImg()" (keydown.enter)="create()" accept="image/png, image/jpeg" type="file" #userPhoto (change)="onFileSelected($event)" id="upload" hidden>
              <label class="input-img w-100 rounded" for="upload">Hình ảnh:<span class="text-danger"> *</span></label>
                <div *ngIf="checkImgSize" class="form-text text-danger mt-1 px-2">Kích thước ảnh quá lớn.</div>
                <div *ngIf="checkImg && !checkImgSize && !regexImg" class="form-text text-danger mt-1 px-2">Chọn ảnh.</div>
                <div *ngIf="regexImg" class="form-text text-danger mt-1 px-2">Sai định dạng ảnh.</div>
              </div>
            </div>
          </div>
        <div class="row mt-4">
          <div class="col-lg-12 px-3">
            <div class="form-floating">
              <ckeditor formControlName="content" [editor]="Editor" data="<p>Hello world!</p>"></ckeditor>
              <div *ngIf="formNews.controls.content.hasError('required') && formNews.controls.content.touched" class="form-text text-danger mt-1 px-2">Nhập nội dung.</div>
              <div *ngIf="formNews.controls.content.hasError('minlength') && formNews.controls.content.dirty" class="form-text text-danger mt-1 px-2">Nội dung quá ngắn.</div>
            </div>
          </div>
        </div>
          <div class="row mt-4">
            <div class="col-lg-12 px-3">
              <div class="form-floating">
                <select formControlName="gameCategory" class="form-select border-secondary text-light select-type" id="type-game" aria-label="Floating label select example">
                  <option value="">chọn thể loại</option>
                  <option *ngFor="let item of gameCateList" [ngValue]="item">{{item.name}}</option>
                </select>
                <label for="type-game" class="text-light">Thể loại:<span class="text-danger"> *</span></label>
                <div *ngIf="formNews.controls.gameCategory.hasError('required') && formNews.controls.gameCategory.touched" class="form-text text-danger mt-1 px-2">chọn thể loại game.</div>
              </div>
            </div>
            </div>
        <div class="row ">
          <div class="col-lg-6 px-3 mt-4">
            <div class="form-floating">
              <button type="button" routerLink="/news" class="button w-100 h-100 rounded text-light">Trở về</button>
            </div>
          </div>
          <div class="col-lg-6 px-3 mt-4">
            <button type="submit" class="button-primary w-100 rounded text-light">Đăng bài</button>
          </div>
        </div>
      </form>
  </div>
</div>


