<body>
<div class="container mt-5" id="table-computer">
  <div [formGroup]="formSearch">
    <div class="row">
      <h2 class="text-center text-white">Danh sách khách hàng</h2>
      <div class="container text-white my-5">
        <div class="row mb-2">
          <h4 class="text-white">Tìm kiếm khách hàng</h4>
        </div>
        <div class="row mb-4">
          <div class="col-3 d-flex outline">
            <div class="col-6">
              <label for="nameCustomer">Tên khách hàng</label>
            </div>
            <div class="col-4">
              <input formControlName="nameCustomer" id="nameCustomer" type="text" class="input-search form-control"
                     placeholder="Nhập tên">
            </div>
          </div>
          <div class="col-4 d-flex">
            <div class="col-1"></div>
            <div class="col-4">
              <label for="starDate">Ngày sinh từ</label>
            </div>
            <div class="col-5">
              <input formControlName="starDate" id="starDate" type="date" class="form-control input-search">
            </div>
            <div class="col-1"></div>
          </div>
          <div class="col-3 d-flex">
            <div class="col-4">
              <label for="status">Trạng thái</label>
            </div>
            <div class="col-4">
              <select id="status" style="min-width: 100px" class="input-search form-control"
                      formControlName="activeStatus">
                <option value="">Đang hoạt động</option>
                <option value="">Ngưng hoạt động</option>
              </select>
            </div>
          </div>
          <div class="col-2 d-flex"></div>
        </div>
        <div class="row ">
          <div class="col-3 d-flex">
            <div class="col-6">
              <label for="address">Địa chỉ</label>
            </div>
            <div class="col-4">
              <input formControlName="address" id="address" type="text" class="input-search form-control"
                     placeholder="Nhập địa chỉ">
            </div>
          </div>
          <div class="col-4 d-flex">
            <div class="col-1"></div>
            <div class="col-4">
              <label for="endDate">Đến</label>
            </div>
            <div class="col-5">
              <input formControlName="endDate" id="endDate" type="date" class="input-search form-control">
            </div>
            <div class="col-1"></div>
          </div>
          <div class="col-3 d-flex">
            <div class="col-4"></div>
            <div class="col-6">
              <button class="btn btn-outline-secondary w-20" (click)="getAllCustomer()">Tìm kiếm</button>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <table class="table table-dark w-100">
        <thead>
        <tr>
          <!--          <th scope="col">-->
          <!--            <input type="checkbox">-->

          <!--          </th>-->
          <th>#</th>
          <th scope="col">Họ và tên</th>
          <th scope="col">Email</th>
          <th scope="col">Ngày sinh</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">SĐT</th>
          <!--          <th scope="col">Trạng thái</th>-->
          <!--          <th scope="col">Chức năng</th>-->
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let temp of listCustomer | paginate: {itemsPerPage: 2, currentPage: page+1, totalItems: element};let i = index">
          <!--          <td><label>-->
          <!--            <input type="checkbox">-->
          <!--          <td>-->
          <td>{{i + 1}}</td>
          <td>{{temp.name}}</td>
          <td>{{temp.email}}</td>
          <td>{{temp.dateOfBirth}}</td>
          <td>{{temp.nameCommune}} - {{temp.nameDistrict}} - {{temp.nameProvince}} </td>
          <td>{{temp.activeStatus}}</td>
          <!--          <td>-->
          <!--            <button class="btn btn-outline-secondary  ">-->
          <!--              <i class="fa-solid fa-pencil"></i>-->
          <!--            </button>-->

          <!--            <button class="btn btn-outline-secondary "  data-bs-toggle="modal"-->
          <!--                    data-bs-target="#deleteModal" onclick="getName('trung')"><i class="fa-solid fa-trash"></i></button>-->
          <!--          </td>-->

        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row d-flex" id="btn-outside">
    <div class="col-4">
      <button class="btn btn-outline-secondary m-2">Thêm mới khách hàng</button>
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <div class="float-end">
        <button class="btn btn-primary b m-2">Lưu</button>
        <button class="btn btn-outline-secondary">Xóa</button>
      </div>
    </div>
  </div>
  <div *ngIf="element!==0">
    <pagination-controls (pageChange)=getPage($event)></pagination-controls>
  </div>
</div>


<!--Start Delete Modal-->
<div class="modal fade " id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Xóa khách hàng</h5>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khách hàng <span style="font-weight: bold; color: #ff4146" id="name"> </span> không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Xóa</button>
      </div>
    </div>
  </div>
</div>
<div style="justify-content: space-around;display: flex;">
</div>
<script>
  function getName(name) {
    document.getElementById("name").innerHTML = name
  }
</script>


</body>

