<div class="container-fluid">
  <div class="container">
    <div class="row object">
      <h4 class="text-white">Liên kết</h4>
      <p class="text-white">Chúng tôi tự hào đồng hành cùng nhiều đối tác trên khắp Việt Nam</p>
      <p class="text-white">Phong Vũ, Phi Long, Techcare, Techsoft là những đối tác lớn và đồng hành lâu năm nhất cùng chúng tôi</p>
      <p class="text-white">Nếu phía bạn muốn cộng tác cùng chúng tôi, đừng ngại ngùng liên hệ trực tiếp ngay bây giờ</p>
    </div>
  </div>
</div>
