<div class="container mt-5" id="table-computer">
  <div class="row">
    <h2 class="text-center text-white">DANH SÁCH NHÂN VIÊN</h2>
    <div class="container text-white my-5">

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
          <div class="row mb-4">
            <div class=" col-lg-3 col-xl-3 w-15">
              <div>
                <label style="color: white"  class="col-form-label fontFamily">Nhập mã: </label>
                <input id="codeE" type="text" class="input-search form-control m-0" style="margin-right: 0"
                       placeholder="Nhập mã" [(ngModel)]="code">
              </div>
            </div>
            <div class="col-lg-3 col-xl-3 w-15">
              <div>
                <label style="color: white"  class="col-form-label fontFamily">Ngày sinh bắt đầu: </label>
                <input type="date" class="form-control input-search" [(ngModel)]="dobfrom">
              </div>
            </div>
            <div class="col-lg-3 col-xl-3 w-15">
              <div>
                <label style="color: white"  class="col-form-label fontFamily">Ngày bắt đầu: </label>
                <input type="date" class="form-control input-search" [(ngModel)]="workf">
              </div>
            </div>
            <div class="col-lg-3 col-xl-3 w-15 form-group">
              <div>
                <label style="color: white"  class="col-form-label fontFamily">Vị trí: </label>
                <select class="input-search-position-employee w-100 form-select" [(ngModel)]="position">
                  <option selected value="" class="w-100">Vui lòng chọn</option>
                  <option *ngFor="let item of positions" [ngValue]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
          <div class="row">
            <div class="col-lg-3 col-xl-3 w-15">
              <div>
                <label style="color: white"  class="col-form-label fontFamily">Địa chỉ: </label>
                <input id="address" type="text" class="input-search form-control m-0" style="margin-right: 0"
                       placeholder="Nhập địa chỉ" [(ngModel)]="address">
              </div>
            </div>
            <div class="col-lg-3 col-xl-3 w-15">
              <div>
                <label style="color: white" class="col-form-label fontFamily">Ngày sinh đến: </label>
                <input type="date" class="input-search form-control" [(ngModel)]="dobend">
              </div>
            </div>
            <div class="col-lg-3 col-xl-3 w-15">
              <div>
                <label style="color: white" class="col-form-label fontFamily">Đến: </label>
                <input type="date" class="form-control input-search" [(ngModel)]="workt">
              </div>
            </div>
            <div class="col-lg-3 col-xl-3 w-15">
              <div>
                <label style="color: white" class="col-form-label fontFamily">Tên nhân viên: </label>
                <input id="nameE" type="text" class="input-search form-control m-0" style="margin-right: 0"
                       placeholder="Nhập tên nhân viên" [(ngModel)]="name">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 mt-3">
          <button class="btn btn-outline-secondary" (click)="search()" style="right: 0">Tìm kiếm</button>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="container">
          <table class="table table-dark w-100">
            <thead class="hiddenText">
            <tr>
              <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
              <th scope="col">Mã nhân viên</th>
              <th scope="col">Họ và tên</th>
              <th scope="col">Địa chỉ</th>
              <th scope="col">Ngày sinh</th>
              <th scope="col">Email</th>
              <th scope="col">Số điện thoại</th>
              <th scope="col">Vị trí</th>
              <th scope="col">Level</th>
              <th scope="col">Chức năng</th>
            </tr>
            </thead>
            <tbody class="hiddenText">
            <tr
              *ngFor="let employee of employees| paginate:{itemsPerPage:2, currentPage: page +1, totalItems: totalElements}, let i = index">
              <td><input class="card-notify-year-checkbox" type="checkbox" value="{{employee.id}}"
                         [(ngModel)]="employees[i].checked" id="check" (click)="enable()"></td>
              <td>{{employee.code}}</td>
              <td>{{employee.name}}</td>
              <td class="hiddenText">{{employee.cmName}},{{employee.disName}},{{employee.proName}}</td>
              <td>{{employee.dob}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.phone}}</td>
              <td>{{employee.posiName}}</td>
              <td>{{exp(employee)}}</td>
              <td>
                <button class="btn btn-outline-secondary"><i class="fa-solid fa-pencil"></i></button>
                <button class="btn btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#deleteModal" (click)="getEmployee(employee)"><i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>

            </tbody>

          </table>
        </div>
      </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <pagination-controls nextLabel="Trang kế" previousLabel="Trang trước" (pageChange)="getPage($event)"></pagination-controls>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row d-flex" id="btn-outside">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
      <button class="btn btn-outline-secondary m-2">Thêm mới nhân viên</button>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
      <div class="float-end">
        <button class="btn btn-outline-secondary " data-bs-toggle="modal"
                data-bs-target="#deleteGroupModal" id="btn" [disabled]="!isAllCheckBoxChecked()">Xóa tất cả
        </button>
      </div>
    </div>
  </div>
</div>


<!--Start Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Xóa nhân viên</h5>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa nhân viên có tên là <span style="font-weight: bold; color: #ff4146"
                                                            id="name">{{nameDelete}}</span> không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteEmployee()">Xóa</button>
      </div>
    </div>
  </div>
</div>
<!--End Delete Modal-->

<div class="modal fade" id="deleteGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Xóa nhân viên</h5>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa những nhân viên này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteAll()">Xóa</button>
      </div>
    </div>
  </div>
</div>


