<div class="container-fluid">
  <div class="container">
    <div class="row object">
      <h4 class="text-white">Việc làm</h4>
      <p class="text-white">Hiện chúng tôi đang tìm kiếm các ứng viên cho các vị trí sau</p>
      <ol>
        <ul class="text-white">Pha chế</ul>
        <ul class="text-white">Nhân viên kĩ thuật</ul>
        <ul class="text-white">Quản lí</ul>
      </ol>
      <p class="text-white">Vui lòng liên hệ trực tiếp hoặc gửi mail cho chúng tôi để ứng tuyển</p>
    </div>
  </div>
</div>
