<div class="container-fluid">
  <!--    header-->
  <div class="row header mb-5">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-white" href="#"> <img src="../../../assets/img/logo.png" width="80"/></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" style="color: #a8a8a8" href="#">Trang chủ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #a8a8a8">
                Nhân Viên
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Danh sách</a>
                <a class="dropdown-item" href="#">Thêm mới</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Tác vụ khác</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #a8a8a8" href="#">Khách Hàng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #a8a8a8" href="#">Danh Sách Máy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #a8a8a8" href="#">Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #a8a8a8" href="#">Tin Tức</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #a8a8a8" routerLink="/products">Dịch Vụ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #a8a8a8" href="#">Thống Kê</a>
            </li>
          </ul>
          <form class="d-flex">
            <!--                        <button class="btn-main text-white">Employee</button>-->
            <!--                        <a class="nav-link" style="color: #a8a8a8" href="#">Đăng Xuất</a>-->
            <a class="nav-link" style="color: #a8a8a8" href="#">Đăng Ký</a>
            <button class="btn-main text-white">Đăng Nhập</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>
