<div class="container-fluid" style="position: sticky;top: 0;z-index: 99">
  <!--    header-->
  <div class="row header" style="margin-bottom: 2rem">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-white" routerLink=""> <img src="assets/img/logo.png" width="80"/></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" style="color: #a8a8a8" routerLink="">Trang chủ</a>
            </li>
            <li class="nav-item dropdown">
              <div *ngIf="employeeCard">
                <a class="nav-link" routerLink="employees" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #a8a8a8">
                  Nhân Viên
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div *ngIf="customerCard">
                <a class="nav-link" routerLink="customers" id="navbarDropdownCustomer" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #a8a8a8">
                  Khách Hàng
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div *ngIf="computerCard">
                <a class="nav-link" routerLink="computers" id="navbarDropdownComputer" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #a8a8a8">
                  Danh Sách Máy
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div>
                <a class="nav-link" routerLink="games" id="navbarDropdownGame" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #a8a8a8">
                  Game
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div>
                <a class="nav-link" routerLink="news" id="navbarDropdownNews" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #a8a8a8">
                  Tin Tức
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div>
                <a class="nav-link" routerLink="products" id="navbarDropdownProduct" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #a8a8a8">
                  Dịch Vụ
                </a>
              </div>
            </li>
            <li class="nav-item">
              <div *ngIf="statisticalCard">
                <a class="nav-link" style="color: #a8a8a8" routerLink="statistic">Thống Kê</a>
              </div>
            </li>
          </ul>
          <form class="d-flex" *ngIf="login">
<!--            <a class="nav-link" style="color: #a8a8a8" *ngIf="showTime"><b><span id="dayss"></span> <span id="hourss">00</span>:<span id="minss">00</span>:<span id="secondss">00</span></b></a>-->
            <a class="nav-link" style="color: #a8a8a8" *ngIf="remainingTimeComponent">
              <app-remaining-time></app-remaining-time>
            </a>

            <a class="nav-link" style="color: #a8a8a8">Xin Chào</a>
            <a  class="btn btn-primary" routerLink="{{urlNameHeader}}">{{username}}</a>
            <a class="nav-link" style="color: #a8a8a8" routerLink="sign-out">Đăng Xuất</a>
          </form>
          <form class="d-flex" *ngIf="login==false">
            <a class="nav-link" style="color: #a8a8a8" routerLink="sign-up">Đăng Ký</a>
            <button class="btn btn-primary" routerLink="sign-in">Đăng Nhập</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>
