<div class="container-fluid" style="margin-top: 3rem">
  <div class="d-flex">
    <div class="col-6 d-flex justify-content-end">
      <img src="assets/img/img-login/banner-login.png" alt="banner" class="float-right" height="435">
    </div>
    <div class="col-6">
      <div class="login-form">
        <h6 class="text-center mt-4">Đăng nhập </h6>
        <form [formGroup]="loginForm">
          <div class="form-floating textbox">
            <input (keydown.enter)="submitLogin()" type="text" class="form-control btn-outline-secondary" formControlName="username" id="inputUsername"
                   placeholder="Tài khoản hoặc Email" autocomplete="off" style="padding-top: 10px">
            <label for="inputUsername" style="color: white">
              Tài khoản hoặc Email
              <span class="text-danger" *ngIf="loginForm.controls.username.hasError('minLength') &&
                                      (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
                Tên tài khoản ít nhất 6 kí tự.
              </span>
              <span class="text-danger" *ngIf="loginForm.controls.username.hasError('maxLength') &&
                                      (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
                Tên tài khoản quá dài.
              </span>
              <span class="text-danger" *ngIf="loginForm.controls.username.hasError('required') &&
                                      (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
                Không được để trống.
              </span>
            </label>
          </div>

          <div class="form-floating textbox">
            <input type="password" (keydown.enter)="submitLogin()" class="form-control btn-outline-secondary" formControlName="password" id="inputPassword"

                   placeholder="Mật khẩu" autocomplete="off" style="padding-top: 10px">
            <label for="inputPassword" style="color: white">
              Mật khẩu
              <span class="text-danger" *ngIf="loginForm.controls.password.hasError('pattern') &&
                                      (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                Mật khẩu không đúng định dạng.
              </span>
              <span class="text-danger" *ngIf="loginForm.controls.password.hasError('required') &&
                                      (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                Không được để trống.
              </span>
            </label>
          </div>

          <div class="options">
            <label class="remember-me">
                    <span class="checkbox">
                        <input type="checkbox" (change)="rememberMe()" [checked]="rememberMeBox">
                        <span class="checked"></span>
                    </span>
              Nhớ mật khẩu
            </label>
            <!--                <a href="">Lấy lại mật khẩu</a>-->
          </div>
          <button type="button" class="btn btn btn-primary login-btn text-light" [disabled]="loginForm.invalid" (click)="submitLogin()" >Đăng nhập</button>


        </form>

        <div class="dont-have-account">
          Bạn chưa có tài khoản ?
          <a routerLink="/sign-up" >Đăng ký</a>
        </div>

      </div>
    </div>
  </div>
</div>
