@import "toastr.css";

body {
  font-family: 'Arimo', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
}

.header {
  background-color: #2A2A2A;
}

.object {
  background-color: #2a2a2a;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer {
  background-color: #2A2A2A;
  margin-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

.text-header {
  color: #a8a8a8;
}

.text-footer {
  color: #a8a8a8;
}


.text-content {
  color: #9a9a9a;
}

.icon-body {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: white;
}

.icon-footer {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: white;
}

.icon-footer-second {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: white;
}

.text-title-sm {
  font-size: 1.2rem;
}

.btn-main {
  background-color:  #0078f2 !important;
  border: none;
  padding: 5px 10px;
}

.btn-second {
  background-color:  white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.btn-second-non-border {
  background-color:  white;
  border: none;
  padding: 5px 10px;
}

.btn-opacity-border {
  width:100%;
  padding: 9px 0;
  background-color: #121212;
  border:1px solid white;
  border-radius: 5px;
}

ul li {
  cursor: pointer;
  position: relative;
}

li.active::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #0078f2;
  left: 0;
  bottom: -7px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  animation: appear 0.2s linear;
}
@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

.carousel {
  border-radius: 15px;
  overflow: hidden;
}

.list-image-game {
  width: 35rem;
  margin-right: 1rem;
  border-radius: 10px;
}

.list-row {
  margin-bottom: 1.9rem;
}


.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

/*image hover*/
.container-img {
  position: relative;
  width: 50%;
}

.container-img-carousel {
  position: relative;
  width: 100%;
}

.container-img-carousel img {
  width: 100%;
  height: auto;
}

.container-img-carousel .btn-image-carousel {
  position: absolute;
  z-index: 1;
  top: 93%;
  left: 10.2%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.container-img-carousel .text-carousel {
  position: absolute;
  top: 85%;
  left: 4%;
  background-color: #0078f2;
  padding: 1rem;
  font-size: 1.5rem;
}

.bottom {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.middle-md {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-img:hover .image {
  opacity: 1;
}

.container-img:hover .middle {
  opacity: 1;
}

.container-img:hover .middle-md {
  opacity: 1;
}

.bg-dark {
  background-color: #121212 !important;
}

.card-game {
  width: 24%;
  margin: 0rem 0.3rem;
}


#myBtn {
  display: none; /* Mặc định button sẽ được ẩn*/
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99; /* button được ưu tiên hiển thị đè lên các phần khác*/
  border: none;
  outline: none;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #555;
}

.search {
  border-radius: 2em;
  background-color: rgba(0,0,0,0);
  border: none;
  background-color: #2A2A2A;
  padding: 0.5rem;
}

.search:focus {
  color: #ffff;
}

.search:focus {
  outline: none !important;
  border: none !important;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background-color: #0078f2;
  color: #fefefe;
  cursor: default;
}

.page-link {
  color: white !important;
}

.ngx-pagination a, .ngx-pagination button {
  cursor: pointer;
  color: white !important;
}

