<div class="container-fluid">
  <div class="container">
    <div class="row object">
      <h4 class="text-white">Về chúng tôi</h4>
      <p class="text-white">Chúng tôi là một trong những tiệm net hiện đại nhất trong hệ thống cyber ở Việt Nam</p>
      <p class="text-white">Với 5 năm trong lĩnh vực, chúng tôi thấu hiểu nhu cầu khách hàng và đem lại sự phục vụ tốt nhất</p>
      <p class="text-white">Với 4 chi nhánh trải đều trên khắp Đà Nẵng, vị trí địa lí cũng không còn là trở ngại đối với các game thủ</p>
      <p class="text-white">Đừng ngại ngùng và hãy đến hòa mình vào không khí esport với chúng tôi ngay bây giờ nào!!</p>
    </div>
  </div>
</div>
