.title {
  font-weight: 600;
}

.text {
  text-align: justify;
  overflow: hidden;

}

.pl {
  padding-left: 1em;
}

img {
  width: 48.50125em;
}

img {
  width: 100% !important;
}

.img-100 img {
  width: 20em!important;
}

#content img {
  width: 100%;
}
