.box-img-game {
  width: 17.814375em;
  height: 23.765625em;
  overflow: hidden;
}

.img-fit {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.box {
  display: flex;
}

.label-custom {
  margin: auto;
}

input[id="html"] + label {
  width: 110px;
  height: 38px;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

input[id="html"]:checked + label:after {
  position: relative;
  top: -4px;
  left: 2px;
  content: '\2714';
  font-size: 14px;
}

input[id="cb1"] {
  display: none;
}

.form-group label {
  /* style the label as a circle etc. */
  background-color: #121212;

}

.form-group input:checked + label:hover {
  /* selected style */
  background-color: #121212;
}

.card-notify-year-checkbox {
  position: absolute;
  left: -10px;
  top: -10px;
  background: #aa9999;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 15px;
  height: 15px;
  padding: 15px 0 0 0;
}
.container-img:hover .image {
  opacity: 1;
}
.container-img:hover .middle-md {
  opacity: 1;
}
.container-list-img:hover .middle {
  opacity: 1;
}

/*// Small devices (landscape phones, 576px and up) sm*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .top-game-hidden {
    display: none;
  }
  .container-img {
    position: relative;
    width: 100%;
  }

  .container-list-img {
    position: relative;
    width: 50%;
  }

  .container-img-carousel .btn-image-carousel {
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }
}

/*// Medium devices (tablets, 768px and up) md*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .top-game-hidden {
    display: none;
  }
  .container-img {
    position: relative;
    width: 50%;
  }

  .container-list-img {
    position: relative;
    width: 50%;
  }

  .container-img-carousel .btn-image-carousel {
    position: absolute;
    z-index: 1;
    top: 87%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }
}

/*// Large devices (desktops, 992px and up) lg*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .top-game-hidden {
    display: none;
  }
  .container-img {
    position: relative;
    width: 50%;
  }

  .container-list-img {
    position: relative;
    width: 25%;
  }

  .container-img-carousel .btn-image-carousel {
    position: absolute;
    z-index: 1;
    top: 93%;
    left: 12%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }
}

/*// Extra large devices (large desktops, 1200px and up) xl*/
@media (min-width: 1200px) {
  .container-img {
    position: relative;
    width: 50%;
  }

  .container-list-img {
    position: relative;
    width: 25%;
  }

  .container-img-carousel .btn-image-carousel {
    position: absolute;
    z-index: 1;
    top: 93%;
    left: 10.2%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
