<div class="container-fluid d-flex justify-content-center p-0 bg">
  <div class="container m-0 w-75">
    <form [formGroup]="gameForm"
          class=" rounded col-lg-10 mx-auto px-4 pb-4 needs-validation " novalidate> dc
      <div class=" mt-3">
        <h5 class="text-center text-light font-weight-bold pt-4">THÊM MỚI THÔNG TIN GAME</h5>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 px-3">
          <div class="form-floating textbox">
            <input (keydown.enter)="create()" type="text" class="form-control input" id="full-name"
                   placeholder="tên game" formControlName="name" value="" required
                   (change)="checkGameName($event.target.value)" autocomplete="off">
            <label for="full-name" style="color: white">
              Tên game
              <span class="text-danger">*</span>
            </label>
            <div *ngIf="gameForm.controls.name.hasError('required') && gameForm.controls.name.touched"
                 class="form-text text-danger mt-1 px-2">Nhập tên game.
            </div>
            <div
              *ngIf="gameForm.controls.name.hasError('minlength') && gameForm.controls.name.dirty"
              class="form-text text-danger mt-1 px-2">Tên game quá ngắn
            </div>
            <div *ngIf="gameForm.controls.name.hasError('maxlength') && gameForm.controls.name.dirty "
                 class="form-text text-danger mt-1 px-2">Tên game quá dài.
            </div>
            <div *ngIf="isExitsGameName == true" class="form-text text-danger mt-1 px-2"> Tên game đã tồn tại.</div>
          </div>
        </div>
        <div class="col-lg-6 px-3">
          <div class="form-floating textbox">
            <input (keydown.enter)="create()" type="text" class="form-control input"
                   id="user-name" placeholder="link youtube" formControlName="trailerUrl">
            <label for="user-name" style="color: white">
              Trailer Url
              <span class="text-danger">*</span>
            </label>
            <p style="color: red; font-size: 0.9rem" *ngIf="gameForm.get('trailerUrl').touched
                && gameForm.hasError('required', 'trailerUrl')">Không được để trống.
            </p>
            <p style="color: red; font-size: 0.9rem" *ngIf="gameForm.get('trailerUrl').touched
                && gameForm.hasError('pattern', 'trailerUrl')">Nhập link youtube và phải có định dạng /embed.
            </p>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-12 px-3">
          <div class="m-0">
            <input (keydown.enter)="create()" (click)="checkImage()" accept="image/png, image/jpeg" type="file"
                   id="upload" multiple (change)="selectFile($event)" #userPhoto (change)="onFileSelected($event); "
                   name="image" autocomplete="off" hidden>
            <label for="upload" class="input-img w-100 rounded">Hình ảnh:<span class="text-danger">*</span></label>

            <div *ngIf="checkImgSize == true" class="form-text text-danger mt-1 px-2">Kích thước ảnh quá lớn.</div>
            <div *ngIf="checkImg == true && checkImgSize == false && regexImg == false"
                 class="form-text text-danger mt-1 px-2">Chọn ảnh.
            </div>
            <div *ngIf="regexImg == true && checkImgSize == false" class="form-text text-danger mt-1 px-2">Sai định dạng
              ảnh.
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="url != null" class="row mt-4">
        <div class="col-lg-5 px-3 mx-auto">
          <div class="m-0">
            <div><img class="preview-img rounded" [src]="url" *ngIf="url" alt=""></div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-12 px-3">
          <div class="form-floating ">
            <ckeditor [config]="{placeholder: 'Nhập nội dung ở đây'}"  (keydown.enter)="create()" [editor]="Editor" formControlName="content"><textarea
              class="form-control border-secondary input texarea " rows="4"></textarea></ckeditor>
            <p style="color: red; font-size: 0.9rem" *ngIf="gameForm.get('content').touched
                && gameForm.hasError('required', 'content')">Nhập nội dung.
            </p>
            <div
              *ngIf="gameForm.controls.content.hasError('minlength') && gameForm.controls.content.dirty"
              class="form-text text-danger mt-1 px-2">Nội dung quá ngắn.
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-12 px-3">
          <div class="form-floating textbox" formGroupName="gameCategory">
            <select class="form-select border-secondary text-light select-type"
                    aria-label="Floating label select example"
                    formControlName="id" id="gameCategory">
              <option value="">Chọn thể loại game.</option>
              <option *ngFor="let gameCategory of gameCategory"
                      [value]="gameCategory.id">{{gameCategory.name}}</option>
            </select>
            <label class="text-light">
              Loại game
              <span class="text-danger">*</span>
            </label>
            <p style="color: red; font-size: 0.9rem" *ngIf="gameForm.get('gameCategory').get('id').touched
                && gameForm.get('gameCategory').hasError('required', 'id')">Chọn thể loại game.
            </p>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-6 px-3">
          <div class="form-floating">
            <button type="button" class="button w-100 h-100 rounded text-light" routerLink="/games">Quay Lại</button>
          </div>
        </div>
        <div class="col-lg-6 px-3 position-relative">
          <button [disabled]="!check" (click)="create()" type="submit" class="button-primary w-100 rounded text-light">
            Tạo mới
          </button>
          <div *ngIf="!check" class="spinner-border text-light spinner position-absolute" role="status">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


