<div class="container-fluid">
  <div class="container">
    <div class="row d-flex justify-content-between" style="margin-bottom: 1rem">
      <div class="p-0 col-6">
        <input [(ngModel)]="gameName" (keydown.enter)="searchGameByName()"
               class="search form-control-sm me-2 text-white" type="search" placeholder="  Tìm kiếm" aria-label="Search">
      </div>
      <div class="p-0 col-6 d-flex justify-content-end">
        <div class="form-group box">
          <input hidden style="float: right" type="checkbox" id="html" [checked]="isAllCheckBoxChecked()"
                 (change)="checkMultipleCheckBox($event)">
          <label class="box" for="html">
            <span class="label-custom" style="justify-content: center"> Chọn tất cả</span>
          </label>
          <button [disabled]="selectedGames.length == 0" class="btn btn-opacity-border-sm text-white"
                  data-bs-toggle="modal" data-bs-target="#deleteMultipleModal"
                  (click)="getSelectedGames()" style="margin-left: 1rem; margin-right: 4rem">Xóa
          </button>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <h4 class="text-white"><i class="fa-solid icon-body fa-fire-flame-curved"></i>Game</h4>
    </div>
    <div class="row">
      <div class="row" style="flex-wrap: wrap; justify-content: start">
        <div *ngFor="let game of games | paginate :
          {itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems}"
             class="card container-img bg-dark card-game">
          <img class="card-img-top image"
               [src]="game.imageUrl"
               alt="Card image cap">
          <div class="middle">
            <div class="row mb-2">
              <button class="btn-second" routerLink="/games/edit/{{game.id}}"> Chỉnh sửa</button>
            </div>
            <div class="row">
              <button class="btn-second" (click)="getInfoGame(game.id, game.name)"
                      data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</button>
            </div>
          </div>
          <div class="card-body row" style="justify-items: center">
            <div class="row mb-2">
              <a class="text-white text-decoration-none" routerLink="detail/{{game.id}}">{{game.name}}</a>
            </div>
            <div class="row">
              <span class="card-text text-content"> <button (click)="getGameAndUpdate(game.id)"
                                                            class="btn-second btn-sm">Chơi</button>  {{ game.playedTimes}} lượt chơi</span>
            </div>
          </div>
          <div>
            <input class="card-notify-year-checkbox" type="checkbox" value="{{game.id}}" [(ngModel)]="game.checked" (click)="checkGame(game.id)">
          </div>
        </div>
      </div>
      <div class="row" *ngIf="games.length == 0">
        <h5 class="text-white" style="margin-left: 1rem">Danh sách game rỗng</h5>
      </div>
    </div>

    <div class="row mt-3">
      <div *ngIf="totalPages != 1" class="col-12 d-flex justify-content-center">
        <pagination-controls (pageChange)="getPage(page = $event)"
                             previousLabel="Trước"
                             nextLabel="Sau"
                             autoHide="true"
                             maxSize=7>
        </pagination-controls>
        <div>
          <input #specificPage type="number" id="goToPage" class="form-control form-control-sm input input-text mx-2"
                 (keydown.enter)="getPage(specificPage.value)" aria-describedby="goToPage" style="width: 40px">
        </div>
        <div>
          <button class="btn-sm btn-main text-white" (click)="getPage(specificPage.value)">Đi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content object">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="exampleModalLabel">Thông báo</h5>
        </div>
        <div class="modal-body text-white">
          Bạn có chắc chắn muốn xóa game <b>{{this.selectedName}}</b> hay không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-second-non-border" data-bs-dismiss="modal">Đóng</button>
          <button type="button" (click)="deleteGameById()" class="btn-main text-white" data-bs-dismiss="modal">Xóa
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete multiple modal -->
  <div class="modal fade" id="deleteMultipleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content object">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="exampleModalLabel2">Thông báo</h5>
        </div>
        <div class="modal-body text-white">
          <p>Bạn có chắc chắn muốn xóa các nhân viên sau hay không?</p>
          <ol>
            <li *ngFor="let selectedGames of selectedGames">{{selectedGames.name}}</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-second-non-border" data-bs-dismiss="modal">Đóng</button>
          <button type="button" (click)="deleteMultipleGames()" class="btn-main text-white" data-bs-dismiss="modal">Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
