<div class="container-fluid">
  <div class="container">
    <div class="row d-flex justify-content-between" style="margin-bottom: 1rem">
      <div class="p-0 col-6">
        <input [(ngModel)]="gameName" (keydown.enter)="searchGameByName()"
               class="search form-control-sm me-2" type="search" placeholder="  Tìm kiếm" aria-label="Search">
      </div>
    </div>
    <div class="row">
      <div class="row">
        <h4 class="text-white"><i class="fa-solid icon-body fa-fire-flame-curved"></i>Game</h4>
      </div>
    </div>
    <div class="row">
      <div class="row" style="flex-wrap: wrap; justify-content: start">
        <div *ngFor="let game of games | paginate :
          {itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems}"
             class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               [src]="game.imageUrl"
               alt="Card image cap">
          <div class="middle">
            <button class="btn-second" routerLink="/games/edit/{{game.id}}"> Edit</button>
            <button class="btn-second" (click)="getInfoGame(game.id, game.name)"
                    data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body row" style="justify-items: center">
            <div class="row">
              <p class="text-white text-title-sm">{{game.name}}</p>
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <button (click)="getGameAndUpdate(game.id)" class="btn-second btn-sm">Chơi</button>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-0 col-sm-0">
                <p class="card-text text-content" >{{game.playedTimes}} lượt chơi</p>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-0 col-sm-0">
                <a class="card-text text-content"  [routerLink]="['detail' , game.id]"> Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 1rem;">
      <div class="w-100 d-flex justify-content-center">
        <pagination-controls (pageChange)="getPage(page = $event)"></pagination-controls>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content object">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="exampleModalLabel">Thông báo</h5>
        </div>
        <div class="modal-body text-white">
          Bạn có chắc chắn muốn xóa game {{this.selectedName}} hay không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-second-non-border" data-bs-dismiss="modal">Đóng</button>
          <button type="button" (click)="deleteGameById()" class="btn-main text-white" data-bs-dismiss="modal">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</div>
