<div class="container-fluid">
  <div class="container">
    <div class="row object">
      <h4 class="text-white">Chính sách</h4>
      <p class="text-white">Là một trong những cyber net hàng đầu Việt Nam</p>
      <p class="text-white">Phục vụ hàng ngàn khách hàng, vì vậy, chúng tôi cũng đưa ra những chính sách.</p>
      <p class="text-white">Nhằm tạo ra khuôn khổ và cải thiện trải nghiệm của người chơi như sau:</p>
      <ol>
        <ul class="text-white">Không được hút thuốc trong phòng máy lạnh</ul>
        <ul class="text-white">Không được gác chân lên bàn</ul>
        <ul class="text-white">Không được đập phá gaming gear</ul>
      </ol>
    </div>
  </div>
</div>
