<div class="container-fluid">
  <!--    body-->
  <div class="container">
    <!--   carousel-->
    <div class="row">
      <div class="col-9">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active container-img-carousel">
              <img src="../../../assets/img/valorant.jpg" class="d-block w-100 image" alt="...">
              <button class="btn-image-carousel">Chơi ngay</button>
            </div>
            <div class="carousel-item container-img-carousel">
              <img src="../../../assets/img/apexlegend.jpg" class="d-block w-100" alt="...">
              <button class="btn-image-carousel">Chơi ngay</button>
            </div>
            <div class="carousel-item container-img-carousel">
              <img src="../../../assets/img/lol.jpg" style="width: 300px" class="d-block w-100"
                   alt="...">
              <button class="btn-image-carousel">Chơi ngay</button>
            </div>
            <div class="carousel-item container-img-carousel">
              <img src="../../../assets/img/gta.jpg" style="width: 300px"
                   class="d-block w-100"
                   alt="...">
              <button class="btn-image-carousel">Chơi ngay</button>
            </div>
            <div class="carousel-item container-img-carousel">
              <img src="../../../assets/img/callofduty.jpg" style="width: 300px" class="d-block w-100"
                   alt="...">
              <button class="btn-image-carousel">Chơi ngay</button>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                  data-bs-slide="prev">
            <span class="" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                  data-bs-slide="next">
            <span class="" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-3">
        <div class="row list-row">
          <span class="text-white"><img src="../../../assets/img/valorant.jpg" class="list-image-game" alt="...">Valorant</span>
        </div>
        <div class="row list-row">
                    <span class="text-white"><img src="../../../assets/img/apexlegend.jpg" class="list-image-game"
                                                  alt="...">Apex legend</span>
        </div>
        <div class="row list-row">
                    <span class="text-white"><img src="../../../assets/img/lol.jpg" class="list-image-game"
                                                  alt="...">League of legends</span>
        </div>
        <div class="row list-row">
                    <span class="text-white"><img src="../../../assets/img/gta.jpg"
                                                  class="list-image-game" alt="...">GTA</span>
        </div>
      </div>
    </div>

    <!--  popular games-->
    <div class="row">
      <div class="row">
        <h4 class="text-white"><i class="fa-solid icon-body fa-fire-flame-curved"></i>Game thịnh hành</h4>
      </div>
    </div>
    <div class="row">
      <div class="row" style="flex-wrap: wrap; justify-content: space-between">
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/valorant.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Valorant</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/apexlegend.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Apex legend</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/lol.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">League of legends</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/gta.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">GTA</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/valorant.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Valorant</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/apexlegend.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Apex legend</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/lol.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">League of legends</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/gta.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">GTA</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
      </div>
    </div>

    <!-- recommended games-->
    <div class="row object">
      <div class="row mb-2">
        <h4 class="text-white"><i class="fa-solid icon-body fa-gift"></i>Game đề xuất</h4>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row mb-3">
            <img src="https://img3.thuthuatphanmem.vn/uploads/2019/07/12/anh-nen-dota-bang_062809329.jpg"
                 class="d-block image" alt="...">
          </div>
          <div class="row">
            <p class="text-white">Dota 2</p>
          </div>
          <div class="row">
            <p class="text-content">Game moba với đồ họa hàng đầu</p>
          </div>
        </div>
        <div class="col-6">
          <div class="row mb-3">

            <img src="https://images6.alphacoders.com/107/1072679.jpg" class="d-block  image" alt="...">
          </div>
          <div class="row">
            <p class="text-white">Valorant</p>
          </div>
          <div class="row">
            <p class="text-content">Game fps hàng đầu hiện nay</p>
          </div>
        </div>
      </div>
    </div>
    <!--  new games-->
    <div class="row">
      <div class="row">
        <h4 class="text-white"><i class="fa-solid icon-body fa-wand-sparkles"></i>Game mới</h4>
      </div>
    </div>
    <div class="row">
      <div class="row" style="flex-wrap: wrap; justify-content: space-between">
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/spider-man.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Spider man</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/saintrow.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Spider man</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/fall-guys-free-to-play.webp"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Spider man</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/LOTR_RTM_WATERFALL_2_REV_SCREENGRAB.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-secondmain">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Spider man</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/spider-man.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Spider man</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/saintrow.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Spider man</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/fall-guys-free-to-play.webp"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Spider man</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
        <div class="card zoom container-img bg-dark card-game">
          <img class="card-img-top image"
               src="../../../assets/img/LOTR_RTM_WATERFALL_2_REV_SCREENGRAB.jpg"
               alt="Card image cap">
          <div class="middle">
            <a href="edit.html">
              <button class="btn-second">Edit</button>
            </a>
            <button class="btn-second" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
          <div class="card-body">
            <p class="text-white text-title-sm">Spider man</p>
            <span class="card-text text-content"><button
              class="btn-second">Chơi</button>  604 lượt chơi</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bạn có chắc muốn xóa game này hay không?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-main text-white" data-bs-dismiss="modal">Đóng</button>
          <button type="button" class="btn-main text-white">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</div>

